<!-- Fragments -->


<!-- Header - navigation bar -->
<header th:fragment="cabecalho">
    <nav class="navbar navbar-expand-lg justify-content-between navPrincipal">
        
        <!-- Logo da página. Ao clicar, redireciona para a página home -->
        <div class="logo">
            <a class="navbar-brand" th:href="@{/home}">
                <img src="/./img/logo_chapeu.png" alt="home page logo icon" width="60px">
            </a>
        </div>
        
        <!-- Links da nav bar -->
        <ul class="nav justify-content-start justify-content-center linksPrincipais">

            <!-- Home -->
            <a class="nav-item nav-link" th:href="@{/home}">
                <i class="fa-solid fa-house menuIcon" style="color: #c2d4de;"></i>
                <span>Home</span>
            </a>

            <!-- Cadastrar -->
            <a class="nav-item nav-link" th:href="@{/cadastrar}">
                <i class="fa-sharp fa-solid fa-user-plus menuIcon" style="color: #c2d4de;"></i>
                <span>Cadastrar Aluno</span>
            </a>


            <!-- Pesquisar -->
            <button class="nav-item nav-link" data-bs-toggle="modal" data-bs-target="#modalPesquisarAluno">
                <i class="fa-solid fa-magnifying-glass menuIcon" style="color: #c2d4de;"></i>
                <span>Pesquisar Aluno</span>
            </button>

            

            <!-- Sair -->
            <a class="nav-item btn btn-danger" href="#">
                <i class="fa-solid fa-circle-xmark menuIcon" style="color: #c2d4de;"></i>
                <span>Sair</span>
            </a>

        </ul>
    </nav>
</header>



<!-- footer -->
<footer th:fragment="rodape">
    <div class="footer">
        <span>Todos os Direitos Reservados - 2020 &copy; Gabriel Freitas</span>
    </div>
</footer>



<!-- Modal - Procurar alunos pelo "name" -->
<div th:fragment="modalProcurarAlunos" class="modal fade" id="modalPesquisarAluno" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">  
                <h1 class="modal-title fs-5" id="exampleModalLabel">Procurar Aluno</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Formulário para pegar o "name" do aluno -->
            <form action="/alunos/pesquisas" method="post" th:object="${aluno}">
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" class="form-control modalInput" id="modalInput" placeholder="Digite o nome do aluno..." th:field="*{name}">
                    </div>
            
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Procurar</button>
                </div>

            </form>

        </div>
    </div>
</div>
