/* cores do projeto */
:root{
    --darkPurple: #392541;
    --lightBlue:#C2D4DE;
    --orange:#A94233;
}

/* Remove all margin and padding */
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: var(--lightBlue);
}


/* BODY */
body{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}



/**************************** HOME PAGE ****************************/

/* ********** NAVIGATION BAR ********** */
.navPrincipal{
    background-color: var(--darkPurple);
    height: 46px;
    position: relative;
    z-index: 1;
}




.nav-item {
    color: var(--lightPurple);
    font-weight: bold;
    cursor: pointer;
}

.nav-item:hover{
    color: #c28fd6b4
}


.linksPrincipais{
    margin-right: 9px;
    font-size: 16px;
}




/* logo */
.logo{
    margin-left: 9px;
}



i.menuIcon{
    margin-right: 8px;
}


.divBoasVindas{
    position: absolute;
    top: 15px;
    left: 72px;
}










/* ********** BODY - conteudo principal ********** */
.body-background{
    height: 94%;
    width: 100%;
    background-image: url('https://e1.pxfuel.com/desktop-wallpaper/321/892/desktop-wallpaper-anime-school-hallway-anime-aethetic-school.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}




/* sombra de fundo */
.sombra-background{
    height: 100%;
    width: 100%;
    border: 2px solid black;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    
}


/* conteudo inteiro */
.main-content{
    padding: 2%;
    text-align: center;
    max-width: 1200px;
    margin: 0px;
    position: absolute;
    z-index: 1;
    margin-top: -120px;
    
}

.main-content > h1{
    color: white;
    font-weight: bold;
}



/* alinhando os 2 botoes principais - "Cadastrar Aluno" e "Pesquisar Aluno" */
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    
}


.buttonPrincipal{
    color: var(--lightPurple);
    border: 4px solid var(--darkPurple);
    border-radius: 7%;
    padding: 14px 50px;
    font-size: 1.5em;
    font-weight: 600;
    background-color: var(--orange);

}

.buttonPrincipal1{
    margin-right: 4px;
}

.buttonPrincipal:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.377);
    border: 4px solid var(--darkPurple);
    border-radius: 6%;
    background-color: var(--darkPurple);
    
}

/* footer */
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3%;
    z-index: 1;
    width: 100%;
    height: 26px;
}




footer > div.footer{
    background-color: var(--darkPurple);
    color: var(--lightBlue);
    
    text-align: center;
}






/* responsividade */
@media screen and (max-width: 667){
    .button{
        width:100%;
    }
}




/**************************** Formulário de cadastro ****************************/
.paginaInteira{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80%;
    width: 100%;
}




.conteudo_formulario{
    width: 30%;
    margin-top: 40px;
}





.formulario_cadastro_title{
    text-align: center;
    margin-bottom: 40px;
    color: var(--darkPurple);
}


/* cada campo - label + input juntos */
.form-group{
    margin-top: 22px;
}

.form-group > label{
    color: var(--darkPurple);
}


.form-control::placeholder{
    color: var(--lightBlue);
}


/* campo - curso */
.curso-group{
    display: flex;
    flex-direction: column;
}

.cursoSelect{
    max-width: 27%;
    min-width: 150px;
    color: var(--darkPurple);
}

.cursoOptions{
    color: var(--darkPurple);
}

.cursoOptions:hover{
    background-color: red;
    color: red;
}



/* campo - matricula */
.gerarMatriculaButton{
    margin-top: 10px;
}


/* campos - status */
.status-group{
    display: flex;
    flex-direction: column;
}

.status-group > select{
    max-width: 27%;
    min-width: 150px;
    color: var(--darkPurple);
}

option{
    background-color: #e3d6e9;
    color: var(--darkPurple);
}



/* Botões finais do formulário */
.submitFormButtons{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cadastrarButton{
    margin-right: 17px;
}







/**************************** página para listar todos os alunos ****************************/
/* Icones de editar e deletar - lixeira e caderninho */
.iconEditarPaginaPadrao{
    display: block;
}

.iconEditarPaginaCelular{
    display: none;
}



.container_table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.container_table > h2, .table, th, td{
    color: var(--darkPurple);
}


thead{
    background-color: var(--darkPurple);
}

th{
    color: var(--lightBlue);
    text-align: left;
}

td{
    text-align: left;
}

.th_id, .td_id{
    text-align: center;
}



.th_acao{
    text-align: center;
}

.td_acao{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.td_acao > a.buttonEditar{
    margin-right: 15px;
}



/**************************** formulario para editar um aluno ****************************/
.matriculaCinza{
    background-color: rgba(170, 167, 167, 0.425);
}


.paginaInteira > form > h2{
    font-weight: bold;
}

.paginaInteira > form > h2 > span{
    color: var(--darkPurple);
}




/**************************** página de pesquisa ****************************/

div.container h2.pesquisas_title{
    color: var(--darkPurple);
}

div.pesquisasMainContent{
    margin-top: 40px;
}

.cardTextColor{
    color: var(--darkPurple);
}


div.card-body > a{
    color: white;
    font-weight: bold;
    max-width: 60%;
}

.card-body{
    display: flex;
    flex-direction: column; 
}

div.card-body > div.cardButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


div.cards{
    display: flex;
    flex-direction: row;
}


div.card{
    margin-right: 30px;
    margin-bottom: 20px;
    max-width: 18em;
}



div.alinharBotoesPesquisa{
    margin-top: 23px;
}

div.card > a{
    height: 50%;
}

.card-img-top{
    height: 100%;
}

/* serach button */
.searchInput{
    max-width: 30%;
    margin-right: 10px;
}

.formularioPesquisa{
    display: flex;
    flex-direction: row;

}


/**************************** MODAL ****************************/

.modal-title{
    color: var(--darkPurple);
}




/**************************** Mensagem de sucesso! ****************************/
.mensagemSucesso{
    color: var(--darkPurple);
    align-self: flex-start;
    margin-bottom: -20px;
}






/* **************************** Responsividade 1366 x 768 --> Monitor pequeno ****************************/
/************* HOME PAGE *************/

/* navigation bar */
@media screen and (max-width: 1366px){
    .linksPrincipais{
        margin-right: 18px;
        
    }
    
}

@media screen and (max-width:1366px){
    .body-background{
        height: 94.8%;
        width: 100%;
    }

}



/* footer */
@media screen  and (max-width:1366px) {

    body{
        position: relative;
        height: 98vh;
    }

   footer{
      position: absolute;
      bottom: -13px;
   }
}







/************* Formulário Cadastro *************/
@media screen and (max-width:1366px){
    .body{
        height: 100%;
        width: 100%;
    }

    .paginaInteira{
        min-height: 92%;
        max-height: 100%;
    }

    .conteudo_formulario{
        min-height: 100%;
        max-height: 100%;
        width: 52%;
        margin-top: 6px;
        margin-bottom: 20px;
        padding: 50px;
        position: relative;
    }

    form.conteudo_formulario > div{
        margin-top: 12px;
    }


    form.conteudo_formulario > div.submitFormButtons{
        position: relative;
        top: 13px;
        margin-bottom: 2px;
    }
}







/* **************************** Responsividade 393 x 851 --> Celular ****************************/

/**************** Home Page *****************/
.navPrincipalHamburguer{
    width: 100%;
    color: var(--darkPurple);
}


.conteudoNavigationHamburguer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--darkPurple);
}


.logo_and_boasVindas{
    display: flex;
    flex-direction: row;
    
}

.hamburguer_button_open{
    margin-left: 11px;
    position: relative;
    bottom: 3px;
}


.logo_and_boasVindas .divBoasssVindas{
    position: relative;
    top: 8px;
    right: 10px;
}


/* Imagem logo - chapeuzinho */
.divlogoHome{
    position: relative;
    bottom: 2px;
    right: 5px;
}


/* Conteudo dentro do hamburguer */
.conteudoDentroDoHamburguer > .dentroHamburguer {
    background-color: #885952
}

/* Botao de hamburguer */
i.hamburguerIconColor{
    color: var(--lightBlue);
}

.hamburguerIconBorda{
    background-color: var(--darkPurple);
    border: 2px solid var(--lightBlue);
}




/* Links de dentro do hamburguer */
.dentroHamburguer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px;
}


/* Links principais - O link "Sair" não está aqui */
.linksPrincipaisHamburguer{
    display: flex;
    flex-direction: column;
}

.linkHamburguer{
    height: 40px;
}

.linkHamburguerMarginBottom{
    margin-bottom: 10px;
}

.nav-link > span:hover{
    color: var(--darkPurple);
}

/* removendo o header padrao, para aparecer apenas o header hamburguer */
@media screen and (min-width: 200px) and (max-width: 835px){
    .cabecalho_normal{
        display: none;
    }
    
    .cabecalho_hamburguer{
        display: block;
    }    


    .body-background{
        width: 100%;
    }



    .main-content{
        width: 100%;
    }


    /* Botoes centrais - "Cadastrar" e "Encontrar" */
    .buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .buttons .button{
        margin-bottom: 23px;
    }



    .spanFooter{
        font-size: 0.7em;
    }

}


@media screen and (min-width:836px){
    .cabecalho_hamburguer{
        display: none;
    }

    .cabecalho_normal{
        display: block;
    }
}




/**************** Register Page *****************/
@media screen and (max-width:835px){
    
    div.paginaInteira{
        height: 100%;
    }

    form.conteudo_formulario{
        min-width: 95%;
        padding: 20px;
    } 

    form.conteudo_formulario div.turno-group{
        margin-bottom: 65px;
    }







    /**************** Pagina de Pesquisas *****************/
    
    /* Icon para display CELULAR */
    i.iconEditarPaginaCelular{
        display: none;
    }

    @media screen and (max-width:770px){
        .pesquisasMainContent{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 90%;
        }



        .pesquisasMainContent .cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 0px;
        }

        div.card{
            margin-right: 0px;
            margin-bottom: 35px;
            max-width: 97%;
        }



        /* Separando input do "Pesquisar Button" */
        div.pesquisasMainContent form.formularioPesquisa{
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .searchInput{
            max-width: 65%;
        }
    }







    /**************** Pagina de Listar Alunos *****************/
    @media screen and (max-width:770px) {
        .container_table{
            width: 98%;
        }



        .buttonEditar, .buttonDeletar{
            width: 9px;
            height: 20px;
            margin-top: 2px;
        }


        .buttonEditar{
            margin-right: 3px;
        }

        .textoButton{
            display: none;
        }



        th{
            font-size: 10px;
            text-align: center;
         
        }


        td{
            font-size: 5px;
            min-height: 55px;
        }

      
        /* ultimo td da table */
        .td_acao_width{
            max-width: 56px;
            margin-right: -27px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }



        td.td_font_size, td.td_acao{
            font-size: 9px;
            padding: 3px;
        }

        .th_acao{
            width: 57px;
            margin-right: 0;
            
        }


        td.td_matricula_padding{
            padding-left: 3px;
        }
        




        /* escondendo icone de editar e da lixeira */
        .editarSpan , .excluirSpan{
            display: none;
        }


        a.buttonEditar, a.buttonDeletar{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 5px;
        }



        .td_acao > a.buttonEditar{
            margin-right: 3px;
        }


        i.editarIconPequeno{
            font-size: 8px;
        }
    }

}




/* **************************** Responsividade 851 x 393 --> Celular Landscape ****************************/

/* ***** HOME PAGE ***** */
@media screen and (orientation:landscape) and (min-width:817px) and (max-width:830px){
    div.main-content{
        width: 100%;
        padding: 0px;
        margin-top: -69px;
    
    }



    div.main-content h1{
        color: white;
        font-weight: bold;
        padding-bottom: 6px;
    }




    /* ***** Página pesquisas ***** */

    /* formulario - pesquisar por aluno */
    div.pesquisasMainContent form.formularioPesquisa{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }


    /* cards */
    .cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    div.card{
        margin-right: 1px;
        margin-bottom: 0;
        max-width: 31%;
        font-size: 0.8em;
    }




    /* ***** Página listar alunos ***** */

    .excluirSpan, .editarSpan{
        display: none;
    }


    .td_acao_width{
        display: flex;
        flex-direction: row;
        margin-right: -0;
        display: flex;
        justify-content: space-between;
        min-height: 50px;
    }


    .container_table{
        max-width: 771px;
    }


    table{
        max-width: 97%;
    }

    .th_acao{
        width: 14%;
    }
}